@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: black;
  font-family: "Poppins", sans-serif;
}

.contact-icons a:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 3px #6699cc;
  border-radius: 10px;
}

.project-icons a:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 3px #6699cc;
  border-radius: 10px;
}

input {
  background-color: #222629;
}

.project-link:hover {
  color: #cc6633;
  transform: scale(1.1);
  box-shadow: 1px 1px 3px #cc6633;
  border-radius: 5px;
  cursor: pointer;
  transition: ease-in-out;
  transition-duration: 0.4s;
}
